{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script src="/__/firebase/7.5.0/firebase-app.js"></script>
    <script src="/__/firebase/7.5.0/firebase-analytics.js"></script>
    <script src="/__/firebase/init.js"></script>
{% endblock %}
